<h3>Autores de la página </h3>

<p align="left">Alicia Serrano</p>
<img src="alicia.jpg" width="200" height="160" align="left">

<p align="right">Alberto Sagrado</p>
<img src="alberto.jpg" width="200" height="160" align="right">